.success-modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.success-modal__container {
  background: #fff;
  padding-left: 36px;
  padding-right: 79px;
  padding-top: 43px;
  padding-bottom: 51px;
  border-radius: 12px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 14px;

}

.success-modal__message {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: #000;
  margin: 0;
  text-align: left;
}

.success-modal__close-icon {
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  background: transparent;
  cursor: pointer;
  width: 40px;
  height: 40px;
  padding: 0;
  transition: opacity 0.3s ease;
}

.success-modal__close-icon:hover {
  opacity: 0.6;
}

.success-modal__close-icon img {
  width: 100%;
  height: 100%;
  display: block;
}

.success-modal__sign-in {
    background: none;
    border: none;
    color: #2F71E5;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Inter', Arial, sans-serif;
    text-decoration: none;
    padding: 0;
    margin-left: 2px;
    transition: color 0.2s;
    text-align: left;
}

.success-modal__sign-in:hover {
  background: #125ea2;
} 

@media (max-width: 590px) { 
    .success-modal__container{
        width: 300px;
        padding-right: 30px;
        padding-bottom: 40px;
    }

    .success-modal__message{
        font-size: 20px;
    }

    .success-modal__sign-in{
        font-size: 14px;
    }
}

@media (max-width: 470px) { 
    .success-modal__container{
        width: 200px;
        padding-right: 16px;
        padding-left: 16px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .success-modal__message{
        font-size: 16px;
    }

    .success-modal__sign-in{
        font-size: 12px;
    }
}   