.footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  padding-top: 32px;
  padding-bottom: 26px;
}

.footer__content {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__powered-by {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: rgba(182, 188, 191, 1);
  font-size: 16px;
  line-height: 22px;
  align-self: flex-start;
  padding-top: 0;
  margin-top: 10px;
}

.footer__links {
  display: flex;
  align-items: center;
  gap: 40px;
  height: 24px;
}

.footer__text-links {
  display: flex;
  flex-direction: row;
  gap: 40px;
  height: 24px;
  align-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(26, 27, 34, 1);
}

.footer__icon-links {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  align-items: center;
}

.footer__link {
  font-family: "Roboto", sans-serif;
  color: rgba(26, 27, 34, 1);
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
  margin-right: 0;
}

.footer__link:nth-child(1) {
  margin-right: 40px;
}

.footer__link:hover {
  color: none;
}

.footer__icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

.footer__link:hover .footer__icon {
  opacity: 0.8;
}

@media (max-width: 845px) {
  .footer {
    padding-bottom: 18px;
  }

  .footer__content {
    padding-left: 40px;
    padding-right: 40px;
    gap: 113px;
  }

  .footer__link:nth-child(1) {
    margin-right: 0px;
  }
}

@media (max-width: 450px) {
  .footer {
    height: auto;
  }
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: center;
    padding: 0 16px;
  }
  .footer__links {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0;
    grid-row: 1;
  }
  .footer__text-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .footer__icon-links {
    gap: 24px;
    flex-direction: row;
    align-items: flex-start;
    height: 75px;
  }
  .footer__powered-by {
    text-align: center;
    width: 100%;
    padding-top: 38px;
    text-align: left;
  }
}
